nav.nav-container.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  bottom: 0%;
  right: 0%;
  left: 0%;
  position: fixed;
  margin-top: 150px;
  background-color: #003049!important;
}

.left {
  margin-left: 125px;
}

.footer-style {
  display: flex;
  justify-content: center;
}


.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e1d4dd;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
