


/* styling for Main.js */
.sect-main {
  margin-top: 5%;
}

.addBtn {
  position: fixed;
  left: 47%;
  margin-top: 2%;

}

/* Styling for  Profile.js */
.profile-container {
  margin-top: 10%;
  margin-left: 10%;
}

.logout-container {
  margin-left: 10%;
}

/* footer styling */
nav.nav-container.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  bottom: 0%;
  right: 0%;
  left: 0%;
  position: fixed;
  background-color: #003049!important;
  padding: 10px;
}

.left {
  margin-left: 125px;
}

.footer-style {
  display: flex;
  justify-content: center;
}


.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e1d4dd;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footerBtn {
  position: fixed;
  right: 1%;
}

.footerBtn:hover{
  color: #1114c2!important; 
  background-color: rgb(52, 133, 133)!important;
  font-weight: bolder;
}

.email-input {
  position: fixed;
  right: 7%;
}

.sign-up {
  position: fixed;
  right: 18%;
}
















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
