a.nav-link{
  font-size: 1.3vmax;
  padding: 0.5vmax;
  margin-right: 2.5%;
  background-color: none;
  border-radius: 5vmax;
}
a.nav-link:hover{
  color:rgb(12, 12, 11);
  background-color: rgba(48, 245, 248, 0.677) !important;
  border-radius: 5vmax;
}
