/* span.Header.navbar-brand {
  font-size: 1.2vw;
  padding: 7%;
 
}

span.Header.navbar-brand, a.nav-link {
  padding: 15px;
  font-size: 1.2vw;
  margin-right: 2%;
} */

a.nav-link:hover{
  color: #e56f4e; 
}
a.nav-link:active {
  transform: scale(1,1);
}


div.nav-item{
  display: flex;
  flex-direction: 30%;
  color:white;

  align-items: center;
  justify-content: right;
}

